-
	let name = fileName.replace(/\.[^/.]+$/, "")

include menu.pug

mixin icon-label(icon)
	div.icon-label
		p.material-symbols-rounded= icon
		p.icon-label-text
			block


doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= name

		link(rel="stylesheet", href="/retro-docs-site/main.css")

		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
		
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js", defer) 
		script(src="/retro-docs-site/rgd.js", defer)

		link#theme-zone(rel="stylesheet")
		style#no-anim.
			* {
				transition: none !important;
			}
	body
		script(src="/retro-docs-site/theme-restore.js") 
		menu
			+menuFolder(index, filePath)
			.tools
				.tool-dialogue
					.tool-bubble.hidden
						//- .tool-bubble-contents#c_sync(style="display: none")
							//- .sync-fork-notification
								+icon-label('alt_route')
									strong You're viewing a fork.
								p To maintain functionality, changes to the official repository will temporarily not be reflected.
								hr
							-
								let offset = -8
								let date = new Date(new Date().getTime() + offset * 3600*1000)
							p Last Synced:
							p(style="font-weight: 500")= "" + date.getUTCDate()+"/"+(((date.getUTCMonth()+1) < 10) ? ("0"+(date.getUTCMonth()+1)) : (date.getUTCMonth()+1))+"/"+date.getUTCFullYear()+" "+((date.getUTCHours() <= 12) ? ((date.getUTCHours()==0)? '12' : date.getUTCHours() ) : (date.getUTCHours()-12))+":"+((date.getUTCMinutes() < 10) ? "0"+date.getUTCMinutes() : date.getUTCMinutes())+((date.getUTCHours() < 12) ? "am" : "pm") + " PST"
							p(style="font-size: 0.8em") Syncs automatically at ~12:30am PST
						.tool-bubble-contents#c_lang(style="display: none")
							+icon-label('translate')
								p!= `Viewing documentation in <b>${fileLanguage}</b>`
							p(style="margin-top: 5px") Switch to:
							ul(style="margin-top: 0px")
								- for (const folder of index.folders)
									li
										a(href=`/retro-docs-site/${folder.name}/README.html`)= folder.meta.languageName
							p
								small Interface elements are not translated. Changing language will send you to README.
							p
								small 
									strong Language missing or incomplete? <a href="https://github.com/NexTre-dev/retro-gadgets-docs">Submit an issue or help translate.</a>
						.tool-bubble-contents#c_theme(style="display: none")
							+icon-label('warning')
								strong Theme selection is still in beta
							hr
							p 
								span(style="margin-right: 3px") Current theme: 
								select.theme-selector
									- for (const category in themeIndex)
										optgroup(label=category)
											- for (const theme of themeIndex[category])
												option(value=`/${category}/${theme.name}`,data-meta=theme.meta)= theme.name.substring(0, theme.name.length - 4)
							
							.theme-meta-zone(style="display: none; margin-top: 5px;")
								#theme-meta-ver-warning 
									+icon-label('warning')
										small This theme has not been updated to the latest specifications, and may display incorrectly.
								p#theme-meta-description
								#theme-meta-accessibility-notice(style="display: none")
									+icon-label('accessibility')
										p#theme-meta-accessibility-notice-text
								+icon-label('person')
										p Contributed by 
											strong#theme-meta-author
							.theme-meta-none(style="display: none;")
								+icon-label('warning')
									p Legacy theme? No meta provided.
							hr
							p 
								small Want to contribute a theme? <a href="https://github.com/kurmachu/retro-docs-site/pulls">Open a Pull Request to the viewer repository.</a>
						.tool-bubble-contents#c_info(style="display: none")
							//- .fork-notification
								+icon-label('alt_route')
									strong You're viewing a fork.
								p Changes won't be synced and edit links may not work.
								hr
							p Generated automatically from markdown.
							.sync-area(style="margin-top:5px")
								-
									let offset = -8
									let date = new Date(new Date().getTime() + offset * 3600*1000)
								+icon-label('sync')
									div
										p Last Synced:
										p(style="font-weight: 500")= "" + date.getUTCDate()+"/"+(((date.getUTCMonth()+1) < 10) ? ("0"+(date.getUTCMonth()+1)) : (date.getUTCMonth()+1))+"/"+date.getUTCFullYear()+" "+((date.getUTCHours() <= 12) ? ((date.getUTCHours()==0)? '12' : date.getUTCHours() ) : (date.getUTCHours()-12))+":"+((date.getUTCMinutes() < 10) ? "0"+date.getUTCMinutes() : date.getUTCMinutes())+((date.getUTCHours() < 12) ? "am" : "pm") + " PST"
										p(style="font-size: 0.8em") Syncs automatically at ~12:30am PST
							hr
							+icon-label('edit_document')
								a(href=`https://github.com/NexTre-dev/retro-gadgets-docs/blob/main/${filePath.substring(0, filePath.length - 4)}md`) Edit this page
							+icon-label('report')
								a(href="https://github.com/NexTre-dev/retro-gadgets-docs/issues") Submit an issue
							hr
							+icon-label('description')
								a(href="https://github.com/NexTre-dev/retro-gadgets-docs") Documentation Repository
							+icon-label('code')
								a(href="https://github.com/kurmachu/retro-docs-site") Viewer Source
							hr
							+icon-label('balance')
								small Documentation is licensed under the <a href="https://github.com/NexTre-dev/retro-gadgets-docs/blob/main/LICENSE">MIT License</a>.<br>Viewer is licensed under the <a href="https://github.com/kurmachu/retro-docs-site/blob/master/LICENCE">GNU GPLv3</a>.
					.tool-dialogue-arrow-area
						.dialogue-arrow.lang
						.dialogue-arrow.theme
						//- .dialogue-arrow.sync
						.dialogue-arrow.info
				.toolbar
					p.toolbarIcon.material-symbols-rounded.lang(data-is="lang", data-open="c_lang") Language
					p.toolbarIcon.material-symbols-rounded.theme(data-is="theme", data-open="c_theme") Palette
					//- p.toolbarIcon.material-symbols-rounded.sync(data-is="sync", data-open="c_sync") Sync
					p.toolbarIcon.material-symbols-rounded.info(data-is="info", data-open="c_info") Info
		.layout-divider
		article
			!= markdown